:root {
  --background-color: #f2f2f2;
  --text-color: #666666;
  --shadow-color: 0deg 0% 59%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
}

main {
  display: flex;
  height: 100vh;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}

section {
  box-shadow: var(--shadow-elevation-high);
  background-color: white;
  color: var(--text-color);
  height: 40vh;
  text-transform: uppercase;
  width: 30vw;
  border-radius: 25px;
  overflow: hidden;
}

section.weather {
  font-size: 3rem;
  color: var(--background-color);
}

section.weather > div {
  display: flex;
  justify-content: center;
  font-weight: 600;
  align-items: center;
  width: 100%;
  height: 20vh;
}

section.departures {
  background-color: rgba(41, 52, 134);
  padding: 2rem;
}

section.departures header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

section.departures header img {
  width: 80px;
}

section.departures header p {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  align-self: center;
}

section .min {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

section .max {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(255, 0, 0, 1) 0%,
    rgba(232, 252, 0, 1) 100%
  );
}

article {
  display: grid;
  font-size: 1rem;
  grid-template-columns: 0.3fr 1fr 1fr;
  gap: 1rem;
  margin: 0.75rem 0;
  color: white;
}

article > div {
  padding: 0.5rem;
}

article .destination {
  border: 1px solid white;
}

article .category {
  background-color: #eb0000;
}

article .category[data-category="S"] {
  color: black;
  background-color: white;
}
